/* Загальний контейнер, що містить дві колонки */
.content-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Права колонка з фільтрами та вправами */
.filters-exercises-wrapper {
  flex: 2; /* Вказує, що ця колонка займатиме дві частини ширини */
  display: flex;
  flex-direction: column;
}

/* Стилі для фільтрів та вправ */
.filters-section, .category-container, .search-form, .exercise-container {
  margin-bottom: 20px;
}

/* Загальний контейнер для карток */
.category-container, .exercise-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Збільшення відступу між картками, якщо потрібно */
}
