.hero-right-side {
  display: none;
}

.hero-container {
  margin-top: 80px;
  margin-bottom: 40px;
  max-width: 335px;
}

.hero-text-block {
  display: flex;
  position: relative;
}

.hero-text-block-title {
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -2%;
  text-align: left;
  margin-bottom: 20px;
}

.icon-sun-svg {
  background-image: url('../img/icons/sun.svg');
  position: absolute;
  top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.hero-text-block-part {
  font-style: italic;
}

.hero-text-block-phrase {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: left;
  max-width: 335px;
  margin-bottom: 20px;
}

.hero-img {
  display: block;
  background-color: #505050;
  background-image: url('../img/hero/hero-main-mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  height: 460px;
  margin-bottom: 20px;
}

.hashtag-block-list {
  display: flex;
  justify-content: space-between;
}

.hashtag-block-item {
  text-align: center;
  padding: 4px 12px;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-img {
    background-image: url('../img/hero/hero-main-mob@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    margin-top: 100px;
    margin-bottom: 64px;
    max-width: 704px;
  }

  .hero-text-block-title {
    max-width: 639px;
    font-size: 74px;
    line-height: 74px;
    margin-bottom: 20px;
  }

  .icon-sun-svg {
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 60px;
    height: 60px;
  }

  .hero-text-block-phrase {
    font-size: 18px;
    line-height: 24px;
    max-width: 528px;
    margin-bottom: 32px;
  }

  .hero-img {
    background-color: #505050;
    background-image: url('../img/hero/hero-main-tablet.jpg');
    border-radius: 60px;
    height: 550px;
    margin-bottom: 16px;
  }

  .hashtag-block {
    margin-left: auto;
    max-width: 396px;
  }

  .hashtag-block-item-text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-img {
    background-image: url('../img/hero/hero-main-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1376px;
    margin-top: 96px;
    margin-bottom: 64px;
  }

  .hero-right-side {
    display: block;
    width: 168px;
    height: 100px;
    background-color: #505050;
    background-image: url('../img/hero/preview-exercise.jpg');
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-right-side {
    max-width: 640px;
  }

  .hero-text-block-title {
    font-size: 74px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    text-align: left;
    width: 640px;
  }

  .hero-text-block-phrase {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2%;
    text-align: left;
    width: 528px;
  }

  .hashtag-block {
    position: absolute;
    top: 132px;
    right: 0px;
  }

  .hashtag-block-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 197px;
    max-height: 80px;
  }

  .hashtag-block-item {
    text-align: center;
    padding: 4px 16px;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    margin-bottom: 4px;
  }

  .hashtag-block-item-text {
    font-size: 16px;
    line-height: 24px;
  }

  .hero-img {
    width: 1376px;
    height: 350px;
    background-color: #505050;
    background-image: url('../img/hero/hero-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 60px;
  }
}

@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2),
  (min-width: 1440px) and (min-resolution: 192dpi),
  (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero-img {
    background-image: url('../img/hero/hero-main@2x.jpg');
  }

  .hero-right-side {
    background-image: url('../img/hero/preview-exercise@2x.jpg');
  }
}
