.modal {
  display: none; /* Початково приховано */
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.247);
  z-index: 10;
  color: #f4f4f4;
}

.modal.is-visible {
  display: flex; /* Показуємо модальне вікно, коли додається клас is-visible */
}

.modal__block {
  background-color: #242424;
  width: 704px;
  height: auto;
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  padding: 32px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__img {
  display: flex;
}

.modal__img > img {
  width: 270px;
  height: 259px;
  border-radius: 12px;
}

.modal__content {
  display: flex;
  flex-direction: column;

  width: 338px;
  height: 100%;
}

.modal__content h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
}

.modal__content h2:first-letter {
   text-transform: uppercase;
}

.modal__exit {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 28px;
  cursor: pointer;
  color: #f4f4f4;
  z-index: 1000;
  width: 28px;  /* Додаємо ширину */
  height: 28px; /* Додаємо висоту */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__exit:hover {
  color: #eea10c;
}

.modal__rating {
  margin-bottom: 16px;
}

.modal__rating span:nth-child(1) {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.modal__rating_yellow {
  color: #eea10c;
  font-size: 18px;
}

.modal__rating_grey {
  color: #f4f4f433;
  font-size: 18px;
}

.modal__info {
  padding: 8px 0;
  border-top: 1px solid #f4f4f433;
  border-bottom: 1px solid #f4f4f433;

  display: flex;
  flex-wrap: wrap;

  margin-bottom: 16px;
}

.modal__info > div > div:nth-child(2):first-letter {
  text-transform: capitalize;
}

.modal__info > div {
  margin-right: 16px;
}

.modal__info > div:nth-child(-n + 4) {
  margin-bottom: 16px;
}

.modal__info > div > div:nth-child(1) {
  color: #f4f4f466;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 4px;
}

.modal__info > div > div:nth-child(2) {
  font-size: 14px;
  line-height: 18px;
}

.modal__description {
  color: #f4f4f499;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 40px;
}

.modal__btns {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.modal__btns button {
  border-radius: 30px;
  font-weight: 400;
  padding: 12px 24px 12px 24px;
  font-size: 15px;
  line-height: 24px;
}

.modal__btns button:nth-child(1) {
  background-color: #f4f4f4;
  color: #242424;
  border: none;
}

.fa-heart {
  margin-left: 5px;
}

.modal__btns button:nth-child(2) {
  margin-left: 6px;
  border: 1px solid #f4f4f4;
  background-color: #242424;
  color: #f4f4f4;
}
