.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.247);
  z-index: 10;
  color: #f4f4f4;
}

.modal.is-visible {
  display: flex;
}

.modal__block {
  background-color: var(--primary-color);
  width: 100%;
  max-width: 335px;
  height: auto;
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px 20px;
  gap: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .modal__block {
    flex-direction: row;
    width: 100%;
    max-width: 704px;
    padding: 32px;
    gap: 32px;
  }
}

.modal__img {
  display: flex;
  flex-shrink: 0;
}

.modal__img > img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .modal__img > img {
    width: 270px;
    height: 259px;
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__block-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .modal__block-content {
    gap: 64px;
  }
  .modal__block-wrapper {
    flex-direction: row;
  }
}

.modal__content h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 10px;
}


.modal__content h2:first-letter {
  text-transform: uppercase;
}

.modal__exit {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  color: #f4f4f4;
  z-index: 1000;
  width: 24px; /* Додаємо ширину */
  height: 24px; /* Додаємо висоту */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__exit:hover {
  color: #eea10c;
}

.modal__rating {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.modal__rating span:nth-child(1) {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 2px;
  display: block;
}

.modal__rating span:nth-child(2) {
  display: flex;
  gap: 2px;
}

.modal__rating_yellow {
  color: #eea10c;
  font-size: 18px;
}

.modal__rating_grey {
  color: #f4f4f433;
  font-size: 18px;
}

.modal__info {
  padding: 8px 0;
  border-top: 1px solid #f4f4f433;
  border-bottom: 1px solid #f4f4f433;

  display: flex;
  flex-wrap: wrap;

  margin-bottom: 16px;
}

.modal__info > div > div:nth-child(2):first-letter {
  text-transform: capitalize;
}

.modal__info > div {
  margin-right: 16px;
}

.modal__info > div:nth-child(-n + 4) {
  margin-bottom: 16px;
}

.modal__info > div > div:nth-child(1) {
  color: #f4f4f466;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 4px;
}

.modal__info > div > div:nth-child(2) {
  font-size: 14px;
  line-height: 18px;
}

.modal__description {
  color: #f4f4f499;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 40px;
}

.modal__btns {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .modal__content h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .modal__btns {
    flex-direction: row;
  }
}

.modal__btns button {
  border-radius: 30px;
  font-weight: 400;
  padding: 12px 24px 12px 24px;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.modal__btns button:nth-child(1) {
  background-color: #f4f4f4;
  color: #242424;
  border: 1px solid #f4f4f4;
  transition: ease-in 250ms;
}

.modal__btns button:nth-child(1):hover,
.modal__btns button:nth-child(1):focus {
  background-color: #242424;
  color: #f4f4f4;
}

.fa-heart {
  margin-left: 5px;
  fill: #f4f4f4;
}

.modal__btns button:nth-child(2) {
  border: 1px solid #f4f4f4;
  background-color: #242424;
  color: #f4f4f4;
  transition: ease-in 250ms;
}

.modal__btns button:nth-child(2):hover,
.modal__btns button:nth-child(2):focus {
  background-color: #f4f4f4;
  color: #242424;
}

.rating-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.247);
  z-index: 10;
  color: var(--white-color);
}

.rating-modal.is-visible {
  display: flex; /* Показуємо модальне вікно, коли додається клас is-visible */
}

.rating-modal__block {
  background-color: var(--primary-color);
  width: 430px;
  height: auto;
  border-radius: 20px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating-modal__exit {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 28px;
  cursor: pointer;
  color: var(--white-color);
  z-index: 1000;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-modal__exit:hover {
  color: #eea10c;
}

.rating-modal__title {
  color: rgba(244, 244, 244, 0.4);
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
}

.rating-modal__mark {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 32px;
}

.rating-modal__stars {
  display: flex;
  gap: 2px;
  cursor: pointer;
}

.rating-modal__stars span {
  color: rgba(244, 244, 244, 0.2);
  transition: fill-opacity 0.2s ease;
}

.rating-modal__stars span.selected,
.rating-modal__stars span:hover {
  color: #eea10c;
}


.rating-modal__input,
.rating-modal__textarea {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #f4f4f4;
  background-color: transparent;
  outline: none;
  color: #fff;
  font: inherit;
  box-sizing: border-box;
}

.rating-modal__input {
  margin-bottom: 16px;
  border-radius: 30px;
  font: inherit;
  box-sizing: border-box;
}

.rating-modal__textarea {
  resize: none;
  height: 96px; /* Висота текстової області */
  margin-bottom: 32px;
  border-radius: 15px;
}

.rating-modal__input:hover,
.rating-modal__textarea:hover {
  box-shadow: 0 0 0.05rem #fff, 0 0 0.05rem #fff, 0 0 0.5rem var(--accent-color),
    0 0 0.2rem var(--accent-color), 0 0 0.7rem var(--accent-color),
    inset 0 0 0.375rem var(--accent-color);
}

.rating-modal__input:focus,
.rating-modal__textarea:focus {
  border: 1px solid var(--accent-color);
}

.rating-modal__btns {
  display: flex;
  justify-content: space-between;
}

.rating-modal__btn {
  border-radius: 30px;
  font-weight: 400;
  padding: 12px 24px;
  font-size: 15px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

.rating-modal__submit-btn {
  background-color: #f4f4f4;
  color: #242424;
  border: 1px solid #f4f4f4;
  transition: ease-in 500ms;

  background: linear-gradient(to right, #242424 50%, #f4f4f4 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.rating-modal__submit-btn:hover {
  background-position: left bottom;
  color: #f4f4f4;
}

.rating-modal__cancel-btn {
  background-color: #242424;
  color: #f4f4f4;
  border: 1px solid #f4f4f4;
}

.rating-modal__cancel-btn {
  background-color: #242424;
  color: #f4f4f4;
  border: 1px solid #f4f4f4;
  transition: ease-in 500ms;

  background: linear-gradient(to right, #f4f4f4 50%, #242424 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.rating-modal__cancel-btn:hover {
  background-position: left bottom;
  color: #242424;
}

.favorite-icon {
  display: block;
  transition: ease-in 250ms;
}

.favorite-icon--trash {
  fill: var(--primary-color);
}

.favorite-icon--heart {
  stroke: var(--primary-color);
  fill: transparent;
}

.modal__btns button:nth-child(1):hover .favorite-icon--heart,
.modal__btns button:nth-child(1):focus .favorite-icon--heart {
  stroke: var(--white-color);
}

.modal__btns button:nth-child(1):hover .favorite-icon--trash,
.modal__btns button:nth-child(1):focus .favorite-icon--trash {
  fill: var(--white-color);
}