.search-bar {
  display: none;
  align-items: center;
  border: 1px solid #242424;
  border-radius: 30px;
  width: 100%;
  max-width: 335px;
  margin-top: 40px;
  position: relative;
}

.search-bar input {
  width: 100%;
  flex-shrink: 0;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 143%;
  padding: 12px 40px 12px 14px;
  border-radius: 30px;
  color: #242424;
  flex-grow: 1;
  background-color: transparent;
  font-family: var(--primary-font-family);
}

.search-bar input::placeholder {
  color: #242424;
}

.icon-search {
  width: 18px;
  height: 18px;
  fill: var(--primary-color);
}

.search-bar button {
  background: none;
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #333;
  cursor: pointer;
  display: block;
  padding: 0;
  width: 18px;
  font-size: 18px; /* Розмір іконки пошуку */
}

@media screen and (min-width: 1440px) {
  .search-bar {
    margin: 0;
    max-width: 273px;
  }
  .search-bar input {
    font-size: 16px;
  }
}