<div class="exercises-grid">
  <div class="category-card">
    <img
      src="https://ftp.goit.study/img/power-pulse/filters/abs_bdi0dw.jpg"
      alt="Abductors"
      width="290"
      height="242"
    />
    <h3>Abductors</h3>
    <p>Muscles</p>
  </div>
  <div class="category-card">
    <img
      src="https://ftp.goit.study/img/power-pulse/filters/abs_bdi0dw.jpg"
      alt="Abductors"
      width="290"
      height="242"
    />
    <h3>Abductors</h3>
    <p>Muscles</p>
  </div>
  <div class="category-card">
    <img
      src="https://ftp.goit.study/img/power-pulse/filters/abs_bdi0dw.jpg"
      alt="Abductors"
      width="290"
      height="242"
    />
    <h3>Abductors</h3>
    <p>Muscles</p>
  </div>
  <div class="category-card">
    <img
      src="https://ftp.goit.study/img/power-pulse/filters/abs_bdi0dw.jpg"
      alt="Abductors"
      width="290"
      height="242"
    />
    <h3>Abductors</h3>
    <p>Muscles</p>
  </div>
  <div class="category-card">
    <img
      src="https://ftp.goit.study/img/power-pulse/filters/abs_bdi0dw.jpg"
      alt="Abductors"
      width="290"
      height="242"
    />
    <h3>Abductors</h3>
    <p>Muscles</p>
  </div>
</div>
