<div class="filters-wrapper">
  <h2 class="exercises-header">Exercises<!-- / <span class="exercises-subcategory">Waist</span> --></h2>
  <form id="search-form" class="search-bar">
    <input type="text" id="search-input" name="search" placeholder="Search" />
    <button type="submit">
      <svg class="icon-search">
        <use href="./img/icons/icons.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <div class="filters">
    <button class="filter-btn active" data-filter="Muscles">Muscles</button>
    <button class="filter-btn" data-filter="Body parts">Body parts</button>
    <button class="filter-btn" data-filter="Equipment">Equipment</button>
  </div>
</div>