.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.preloader--hidden {
  display: none;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  color: transparent;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .loader {
    font-size: 4em;
  }
}
@media screen and (min-width: 1440px) {
  .loader {
    font-size: 6em;
  }
}

.loader span {
  text-shadow: 0 0 2px rgba(244, 244, 244, 0.9),
    0 15px 25px rgba(40, 40, 40, 0.3), 0 -2px 3px rgba(40, 40, 40, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(40, 40, 40, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.45);

  animation: loading 0.85s ease-in-out infinite alternate;
}

@keyframes loading {
  to {
    text-shadow: 0 0 2px rgba(244, 244, 244, 0.2),
      0 0 3px rgba(40, 40, 40, 0.02), 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0);
  }
}

.loader span:nth-child(2) {
  animation-delay: .1s;
}
.loader span:nth-child(3) {
  animation-delay: .2s;
}
.loader span:nth-child(4) {
  animation-delay: .3s;
}
.loader span:nth-child(6) {
  animation-delay: .4s;
}
.loader span:nth-child(7) {
  animation-delay: .5s;
}
.loader span:nth-child(8) {
  animation-delay: .6s;
}
.loader span:nth-child(9) {
  animation-delay: .7s;
}
.loader span:nth-child(10) {
  animation-delay: .8s;
}
.loader span:nth-child(11) {
  animation-delay: .9s;
}
.loader span:nth-child(12) {
  animation-delay: 1s;
}