#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--primary-color); /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

@media screen and (min-width: 768px) {
  #myBtn {
    padding: 10px;
  }
}

@media screen and (min-width: 1280px) {
  #myBtn {
    padding: 25px;
  }
}

#myBtn:hover {
  background-color: var(--white-color);
}

#myBtn:hover svg {
  fill: var(--primary-color);
}
