<div class="container exercises-container">
  <load src="./components/filters.html" />
  <load src="./components/preloader.html" />
  <div class="content-wrapper">
    <load src="./components/quote.html" />
    <div class="exercises-wrapper">
      <div class="category-container exercises-grid"></div>
      <div class="exercise-container exercises-grid"></div>
      <div class="pagination" id="pagination">
        <span class="page current">1</span>
        <span class="page">2</span>
        <span class="page">3</span>
      </div>
    </div>
  </div>
</div>
