<div class="container exercises-home-container">
  <div class="exercises-header">
    <h2>Exercises / <span class="exercises-subcategory">Waist</span></h2>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Search" />
    <svg class="icon-search">
      <use href="./img/icons/icons.svg#icon-search"></use>
    </svg>
  </div>

  <div class="tabs">
    <div class="tab">Muscles</div>
    <div class="tab active">Body parts</div>
    <div class="tab">Equipment</div>
  </div>

  <div class="exercise-card">
    <div class="header">
      <div class="label">WORKOUT</div>
      <div class="rating-wrapper">
        <div class="rating">
          4.0
          <svg class="icon-star">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
        </div>
        <div class="start-btn-wrapper">
          <div class="start-btn">
            Start
            <svg class="icon-arrow">
              <use href="./img/icons/icons.svg#icon-arrow-start"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="title-wrapper">
      <div class="icon-run-exercises">
        <svg class="icon-run">
          <use href="./img/icons/icons.svg#icon-run"></use>
        </svg>
      </div>
      <div class="title">Air bike</div>
    </div>
    <div class="details">
      <div class="details-calories">
        Burned calories: <span class="details-calories-info">312/...</span>
      </div>
      <div class="details-body-part">
        Body part: <span class="details-body-part-info">Waist</span>
      </div>
      <div class="details-target">
        Target:<span class="details-target-info">Abs</span>
      </div>
    </div>
  </div>

  <div class="pagination">
    <span class="page current">1</span>
    <span class="page">2</span>
    <span class="page">3</span>
  </div>
</div>
