<div class="container exercises-container">
  <div class="content-wrapper">
    <!-- Ліва колонка з цитатами -->
    <div class="quote-section-wrapper">
      <div class="quote-dynamic-block">
        <div class="icon-run-wrapper">
          <svg class="icon-run">
            <use href="./img/icons/icons.svg#icon-run"></use>
          </svg>
        </div>
        <div class="quote-content">
          <div class="quote-title-wrapper">
            <h3 class="quote-title">Quote of the day</h3>
            <svg class="icon-quote">
              <use href="./img/icons/icons.svg#icon-quote"></use>
            </svg>
          </div>
          <p class="quote"></p>
          <p class="quote-author"></p>
        </div>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./img/quote-main-img.jpg, ./img/quote-main-img@2x.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/quote-main-tablet.jpg,
            ./img/quote-main-tablet@2x.jpg 2x
          "
        />
        <img
          class="quote-img"
          src="./img/quote-main-mobile.jpg"
          srcset="./img/quote-main-mobile@2x.jpg 2x"
          alt="quote image"
        />
      </picture>
      <div class="daily-norm-block">
        <div class="icon-barbell-wrapper">
          <svg class="icon-barbell">
            <use href="./img/icons/icons.svg#icon-barbell"></use>
          </svg>
        </div>
        <div class="daily-norm-content">
          <h3 class="daily-norm-title">110 min</h3>
          <h4 class="daily-norm-subtitle">Daily norm of sports</h4>
          <p class="daily-norm-text">
            The World Health Organization recommends at least 150 minutes of
            moderate-intensity aerobic physical activity throughout the week for
            adults aged 18-64. However, what happens if we adjust that number to
            110 minutes every day? While it might seem like a high number to
            hit, dedicating 110 minutes daily to sporting activities may offer
            unparalleled benefits to physical health, mental well-being, and
            overall quality of life.
          </p>
        </div>
      </div>
    </div>
    <!-- <load src="./components/category-card.html" /> -->
    <!-- Контейнер для відображення категорій -->
    <div class="category-container exercises-grid"></div>
    <!-- Контейнер для відображення вправ -->
    <div class="exercise-container"></div>
  </div>
  <load src="./components/category-card.html" />
</div>
