<!-- Права колонка з фільтрами та вправами -->
<div class="container filters-exercises-wrapper">
    <!-- Панель фільтрів -->
    <div class="filters-section">
      <div class="filters-search-wrapper">
        <!-- Поле для пошуку вправ -->
        <form id="search-form" class="search-form">
            <input type="text" id="search-input" placeholder="Search" />
            <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001a1 1 0 0 0 .197.216l3.85 3.85a1 1 0 0 0 1.415-1.415l-3.85-3.85a1 1 0 0 0-.216-.197zm-5.44-6.09a5.5 5.5 0 1 1 0 11 5.5 5.5 0 0 1 0-11z"/>
              </svg>
            </button>
          </form>
          
        <!-- Панель фільтрів -->
        <div class="filter-panel">
          <div class="filters">
            <button class="filter-btn active" data-filter="Muscles">Muscles</button>
            <button class="filter-btn" data-filter="Body parts">Body parts</button>
            <button class="filter-btn" data-filter="Equipment">Equipment</button>
          </div>
        </div>
      </div>
    </div>