<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-nav-wrapper">
        <a
          class="logo on-hover js-logo"
          href="./index.html"
          aria-label="your energy logo"
        >
          <svg class="main-logo">
            <use href="./img/icons/main-logo.svg#main-logo"></use>
          </svg>
        </a>

        <load src="./socials-list.html" />
      </div>

      <div class="footer-title-wrapper">
        <h2 class="footer-title">
          Transforming your <span class="footer-title-span">body</span> shape
          with us
        </h2>
        <div class="footer-form-wrapper">
          <p class="footer-form-title">
            Subscribe and learn about new exercises!
          </p>

          <load src="./subscribe-form.html" />
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="copyright-wrapper">
        <span class="copyright-text">Your Energy. All rights reserved.</span>
        <div class="copyright-list">
          <a href="./index.html" class="copyright-link">Privacy Policy</a>
          <span> / </span>
          <a href="./index.html" class="copyright-link">Terms of Service</a>
        </div>
      </div>
      <span class="copyright-year">©2023</span>
    </div>
  </div>
</footer>
