<section class="section">
  <div class="container">
    <div class="hero-container">
      <div class="hero-left-side">
        <div class="hero-text-block">
          <div class="icon-sun-svg"></div>
          <h1 class="hero-text-block-title">
            Get<span class="hero-text-block-part">
              Body </span
            >in shape, Stay healthy
          </h1>
        </div>
        <h3 class="hero-text-block-phrase">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </h3>
      </div>
      <div class="hero-right-side"></div>
      <div class="hero-img"></div>
      <div class="hashtag-block">
        <ul class="hashtag-block-list">
          <li class="hashtag-block-item">
            <p class="hashtag-block-item-text">#Sport</p>
          </li>
          <li class="hashtag-block-item">
            <p class="hashtag-block-item-text">#Healthy</p>
          </li>
          <li class="hashtag-block-item">
            <p class="hashtag-block-item-text">#Workout</p>
          </li>
          <li class="hashtag-block-item">
            <p class="hashtag-block-item-text">#Diet</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
