<div class="menu-container js-menu-container" id="mobile-menu">
  <button
    aria-label="Menu Toggle"
    type="button"
    class="menu-toggle js-close-menu"
  >
    <svg class="icon-close">
      <use href="./img/icons/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="mobile-menu-container">
    <ul class="mobile-menu">
      <li class="mobile-menu-item">
        <a aria-label="Home" class="mobile-menu-link" href="index.html">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a aria-label="Favorites" class="mobile-menu-link" href="favorites.html"
          >Favorites</a
        >
      </li>
    </ul>
  </div>
  <load src="./socials-list.html" />
</div>
