<div id="ratingModal" class="rating-modal">
  <div class="rating-modal__block">
    <span class="rating-modal__exit" id="closeRatingModal">&times;</span>
    <h2 class="rating-modal__title">Rating</h2>
    <div class="rating-modal__mark">
      <div class="rating-modal__value">0.0</div>
      <div class="rating-modal__stars">
        <span data-value="1">
          <svg class="rating-modal__stars__item" width="18" height="18">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span data-value="2">
          <svg class="rating-modal__stars__item" width="18" height="18">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span data-value="3">
          <svg class="rating-modal__stars__item" width="18" height="18">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span data-value="4">
          <svg class="rating-modal__stars__item" width="18" height="18">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span data-value="5">
          <svg class="rating-modal__stars__item" width="18" height="18">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
        </span>
      </div>
    </div>

    <input
      type="email"
      class="rating-modal__input rating-modal__email"
      placeholder="Email"
    />
    <textarea
      class="rating-modal__textarea rating-modal__comment"
      placeholder="Your comment"
    ></textarea>
    <div class="rating-modal__btns">
      <button
        class="rating-modal__btn rating-modal__cancel-btn"
        id="closeRatingModal"
      >
        Cancel
      </button>
      <button class="rating-modal__btn rating-modal__submit-btn">Send</button>
    </div>
  </div>
</div>
