<div class="modal">
  <div class="modal__block">
    <div class="modal__block-content">
      <div class="modal__block-wrapper">
        <svg class="modal__exit modal-close">
          <use href="./img/icons/icons.svg#icon-close"></use>
        </svg>
        <div class="modal__img">
          <img src="#" class="modal-image" alt="Exercise Image" />
        </div>
        <div class="modal__content">
          <h2 class="modal-title">Air bake</h2>
          <div class="modal__rating">
            <span>4.0</span>
            <span>
          <i class="fa-solid fa-star modal__rating_yellow"></i>
          <i class="fa-solid fa-star modal__rating_yellow"></i>
          <i class="fa-solid fa-star modal__rating_yellow"></i>
          <i class="fa-solid fa-star modal__rating_yellow"></i>
          <i class="fa-solid fa-star modal__rating_grey"></i>
        </span>
          </div>
          <div class="modal__info">
            <div>
              <div>Target</div>
              <div class="modal-target">Abs</div>
            </div>
            <div>
              <div>Body Part</div>
              <div class="modal-bodyPart">Waist</div>
            </div>
            <div>
              <div>Equipment</div>
              <div class="modal-equipment">Body weight</div>
            </div>
            <div>
              <div>Popular</div>
              <div class="modal-popular">150</div>
            </div>
            <div>
              <div>Burned calories</div>
              <div class="modal-calories">323/3 min</div>
            </div>
          </div>
          <p class="modal__description">
            This refers to your core muscles, which include the rectus abdominis,
            obliques, and transverse abdominis. They're essential for maintaining
            posture, stability, and generating force in many movements. Exercises
            that target the abs include crunches, leg raises, and planks.
          </p>
        </div>
      </div>
      <div class="modal__btns">
        <button class="favorites-btn">
          <span class="js-favorite-remove" style="display: none">Remove from favorites</span>
          <svg class="js-favorite-remove favorite-icon favorite-icon--trash" width="20" height="20" style="display: none">
            <use href="./img/icons/icons.svg#icon-trash" />
          </svg>
          <span class="js-favorite-add" style="display: none">Add to favorites</span>
          <svg class="js-favorite-add favorite-icon favorite-icon--heart" width="20" height="20" style="display: none">
            <use href="./img/icons/icons.svg#icon-heart" />
          </svg>
        </button>
        <button class="rating-btn">Give a rating</button>
      </div>
    </div>
  </div>
</div>
