<div id="ratingModal" class="rating-modal">
    <div class="rating-modal__block">
      <span class="rating-modal__exit" id="closeRatingModal">&times;</span>
      <h2 class="rating-modal__title">Rate this Exercise</h2>
      <div class="rating-modal__stars">
        <span data-value="1">*</span>
        <span data-value="2">*</span>
        <span data-value="3">*</span>
        <span data-value="4">*</span>
        <span data-value="5">*</span>
      </div>
      <div class="rating-modal__value">0.0</div>
      <input type="email" class="rating-modal__input rating-modal__email" placeholder="Your email">
      <textarea class="rating-modal__textarea rating-modal__comment" placeholder="Your comment"></textarea>
      <div class="rating-modal__btns">
        <button class="rating-modal__btn rating-modal__cancel-btn" id="closeRatingModal">Cancel</button>
        <button class="rating-modal__btn rating-modal__submit-btn">Submit Rating</button>
      </div>
    </div>
  </div>
  